{% extends 'base.html.twig' %}

{% block title %}{{course.nameCourse}} / StudyOn{% endblock %}

{% block body %}
    <h1 class="fw-bold mb-5 mt-5">{{ course.nameCourse }}</h1>

    <div class="container">
        {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}
    </div>

    <hr class="mt-5">
    <a href="{{ path('app_course_show', {'id': course.id }) }}" type="button" class="btn btn-danger"
       onclick="return confirm('Вы уверены, что хотите отменить изменения?');">
        <strong>Отменить</strong>
    </a>
{% endblock %}
