{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <h1>Доступные курсы</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название курса</th>
                <th>Описание курса</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.nameCourse }}</a></td>
                <td>{{ course.descriptionCourse }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <a href="{{ path('app_course_new') }}">Новый курс</a>
{% endblock %}
