<form method="post" action="{{ path('app_lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить это занятие?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button type="submit" class="btn btn-danger mx-1"><strong>Удалить</strong></button>
</form>
