{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="error-template">
            <h1>Oops!</h1>
            <h2>{{ status_code }} {{ status_text }}</h2>
        </div>
    </div>

    <a href="{{ path('app_course_index') }}" type="button" class="btn btn-primary mx-1">
        <strong>К списку курсов</strong>
    </a>
{% endblock %}