{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-danger mb-3">Ошибка 404</h1>
        <ul>
            <li>Страница сайта была удалена или перемещена;</li>
            <li>Запрошенный ресурс отсутствует, так как его адрес был введен неверно;</li>
        </ul>
    </div>
    <a href="{{ path('app_course_index') }}" type="button" class="btn btn-primary mx-1">
        <strong>К списку курсов</strong>
    </a>
{% endblock %}